body {
    background-color: #EEE;
}

h1,
h2 {
    font-size: 1.5rem;
}

h3,
h4 {
    font-size: 1.25rem;
}

#logout {
    position: absolute;
    right: 1rem;
}

#app {
    margin: 1rem;
}

#nome-usuario {
    color: #EEE;
}

.txt-doc {
    max-height: 30rem;
    overflow: auto;
}

.destaque {
    background-color: yellow;
    font-weight: bold;
}

.destaque-1 {
    background-color: #F55;
    font-weight: bold;
}

.destaque-2 {
    background-color: cyan;
    font-weight: bold;
}

.destaque-3 {
    background-color: #C5E;
    font-weight: bold;
}

.destaque-4 {
    background-color: #8F8;
    font-weight: bold;
}

.destaque-5 {
    background-color: yellow;
    font-weight: bold;
}

.destaque-6 {
    background-color: yellow;
    font-weight: bold;
}

.destaque-outorga {
    background-color: #ddff10;
    color: #040000;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 1px 8px;
}

.destaque-ruim {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.destaque-bom {
    color: green;
    font-weight: bold;
}

.big-numbers {
    font-size: 5rem;
    font-weight: bold;
}


.blink {
    animation: blink-animation 0.4s ease-in-out;
}

@keyframes blink-animation {
    0% {
        background-color: #fff3cd;
    }

    50% {
        background-color: #ffeeba;
    }

    100% {
        background-color: #fff3cd;
    }
}